.input_submit{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 35px;
}

.input_value{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 35px;
}

.input_result{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 35px;
}

.custom_form{
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.custom_button {
  align-self: center;
  margin-top: 20px;
}
